@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  @apply bg-dark text-white font-sans antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
